/* 기본 스타일 (공통) */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f0f0f0; 
    overflow-y: auto;
}
.event-wrap {
    position: relative;
    width: 100%;
    max-width:1200px;
    margin:0 auto;
    background: #fff;
    overflow-x: hidden;
}
.content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}
[class^="content0"] {
    position: relative;
    width: 100%;    
}
[class^="content0"] > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* content01 영역  :: video 플레이 영역 */
video {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%); 
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    /* box-shadow: inset 0 0 5px red; */
}

/* content02 영역 */
.eventWrap {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);    
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 66%;
    height: auto;
    /* box-shadow: inset 0 0 5px red; */
}
.content02 .eventList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* box-shadow: inset 0 0 5px red; */
}
.content02 .eventList > li {
    width: calc(20% - 16px);
}
.content02 .eventList > li:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}
.content02 .eventList > li >img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

/* content03 영역 */
.content03 {
    width: 100%;
}
.content03 .noteContainer {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 9.5%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.content03 .noteContainer .textArea {
    width: 85%;
    height: 100%;    
    outline: none;
    background: transparent;
    resize: none;
    font-size: clamp(14px, 2.5vw, 28px);
    padding: 0.4em 0.5em;
    line-height: 1.2;
    color: var(--stage-bg);
    overflow: hidden;
    box-shadow: inset 0 0 5px red;
}
.submitBtn {
    width: 14%;
    height: 100%;
    box-shadow: inset 0 0 5px red;
}



/* 미디어 쿼리 */
@media screen and (max-width:925px) {
    .eventWrap {
        width: 65%;
        top: 27%;
        gap: 0.5em;
    }
    .content02 .eventList:nth-child(n+5) {
        display: none;
    }
    .content02 .eventList > li {
        width: calc(31% - 14px);
    }
 
}

@media screen and (max-width: 768px) {
    .eventWrap {
        width: 65%;
        top: 27%;
        gap: 0.5em;
    }
    .content02 .eventList {
        justify-content: space-evenly;
        gap: 15px;
    }
    .content02 .eventList:nth-child(n+4) {
        display: none;
    }
    .content02 .eventList > li {
        width: calc(42% - 10px); 
    }
    .content02 .eventList > li:last-child {display: none;}
}